*{
    margin: 1%;
    justify-content: center;
}

.box {
    display: flex;
    width: 93.5%;
    background-color: #4273C5;
    text-align: center;
    box-shadow: 1px 2px 5px #254272;
    padding: 1%;
    border-radius: 1em;
    margin: auto;
    margin: 1%;
}

.col{
    flex-direction: column;
}

h1{
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3.5em;
    border: 2px solid black;
    width: fit-content;
    margin: auto;
    padding: 1%;
}

.hook{
    color: white;
    font-size: 2em;
    font-weight: 600;
}

.search{
    display: flex;
    width: 50%;
    border: 1px solid black;
    font-size: 4em;
}

.evenly{
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.center{
    justify-content: center;
}

.input {
    display: flex;
    width: 50%;
    height: 50%;
    text-align: center;
}

.research{
    height: 35%;
    width: 20%;
    background-color: #71AF45;
    border-radius: 10em;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#results{
    display: flex;
    width: 97.5%;
    justify-content: space-evenly;
    margin: 0;
}

.main{
    display: flex;
    width: max-content;
    background-color: #4273C5;
    border-radius: 1em;
    padding: 1%;
    height: fit-content;
    margin: 1%;
    box-shadow: 1px 2px 5px #254272;
}

.ingredients{
    text-align: center;
    width: 30%;
    padding: 1%;
    font-size: 1.5em;
    font-family: 'Akaya Kanadaka', cursive;
}

.allergens{
    width: fit-content;
    margin: auto;
    font-size: 1.5em;
    font-family: 'Akaya Kanadaka', cursive;
}

.add{
    display: flex;
    width: 98%;
    margin: 0;
}

.adds{
    display: flex;
    width: fit-content;
    background-color: #4273C5;
    height: fit-content;
    border-radius: 10em;
    box-shadow: 1px 2px 5px #254272;
}

.nova{
    font-size: 5em;
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
    padding: 0 2.3% 1.5%;
    color: brown;
}

.infos{
    width: fit-content;
    font-size: 3em;
    font-family: 'Akaya Kanadaka', cursive;
    margin: auto;
}

footer{
    display: flex;
    width: 90%;
    background-color: #4273C5;
    text-align: center;
    box-shadow: 1px 2px 5px #254272;
    padding: 1%;
    border-radius: 1em;
    margin: auto;
}

@media screen and (max-width: 920px) {
    .box{
        flex-direction: column;
        justify-content: center;
    }

    .search{
        margin: auto;
    }

    #results{
        margin: auto;
        flex-direction: column;
    }

    .content{
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    .main{
        margin: auto;
    }
}