<div class="box col">
    <h1>my yuka</h1>
    <p class="hook">Obtenez les informations sur les produits alimentaires</p>
</div>

<div class="box">
    <div class="search evenly">
        <input [formControl]="champSaisi" class="input" type="text" id="code" placeholder="Code du produit">
        <button class="research" (click)="afficherChampSaisi()">Chercher</button>
    </div>
    <div class="search center">
        <a href="">[Scanner]</a>
    </div>
</div>

<div id="results">
    <div class="main"><img src="{{picture}}" alt="image produit"></div>
    <div class="main"></div>
</div>

<div class="box"></div>

<div class="add">
    <div class="adds"></div>
    <div class="adds"></div>
    <div class="adds"></div>
</div>

<div class="box"></div>

<div class="box"></div>